node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Prisma
prisma/migrations/dev.db
prisma/migrations/dev.db-journal

# Uploads & outputs (local filesystem storage)
/var/stlapp/uploads
/var/stlapp/outputs

# PM2
.pm2/
ecosystem.config.js.bak

# Logs
*.log
logs/
npm-debug.log*

# TypeScript
*.tsbuildinfo